.tentat{
	background-color: #eee;
	width: 100%;
	max-width: 300px;
	text-align: center;
	border:1px solid #ddd;
	height: 50px;
	line-height: 50px;
	font-family: cursive;
	box-shadow: 4px 0px 10px 3px;

}

#input_tent{

	width: 100%;
	max-width: 300px;
	border-left: 20px;
	padding-left: 20px;
}




.tentat h1{

	box-shadow: 4px 0px 10px 3px;
}