 .topo_principal{

background-color: #363636;
color: #999
 
 }
.topo{
	width: 100%;
	max-width: 1200px;
	margin: auto;


}
 .container{
 	 
 	margin: 0;
 	padding: 0;
 	display: flex;
 	
 	 
 }
 .topo_menu{

 }

 .int_1{
 	 
 	width: 50%;
 	 
 }

 .int_2{
 	 
 	width: 50%;
 	text-align: right;

 }
 .int_1 img{
 	margin: 10px;
  border-radius: 50px;
  border: 4px #fff solid;
 }

 .int_2 img{
 	margin: 10px;
 }

 .banner img{
 	margin: 20px;
 	height: 40px;
 }


 .banner_princ{
 	background-color: #000;
 	 
 	border-radius: 30px;
 }
  .banner_video{
 	background-color: #000;
 	float: left;
 	width: 65%;


 }
 .video_flex{

 	width: 100%;
 	display: flex;
 	padding: 0;
 	margin: 0;
 }

 .banner_video iframe{
      margin: auto;
      justify-content: center;
      width: 90%;
      height: 500px;
 }

 .banner_menu{
 
 
float: left;
 width: 35%;
height: 450px;
overflow-y: scroll;

 }

 .banner_menu p{
 	background-color: #363636;
 	padding: 20px;
 	margin: 10px;
 	border-radius: 10px;
  color: #fff;
  transition: 0.5s;
 	 }

 .banner_menu p:hover{
  transition: 0.5s;
  background-color: #000;
 }




 	 .nome_modulo{
 	 	 display: inline-block;
  cursor: pointer;
   
  text-align: center;
  background-color: #363636;
  padding: 10px;
 border-radius: 10px;


 	 }


 .fechar{
  display: inline-block;
  cursor: pointer;
   
  text-align: center;
  background-color: #363636;
  padding: 10px;
 border-radius: 10px;
 transition: 0.5s;


 }

 .fechar:hover{

transition: 0.5s;
  background-color: #000;
  color: #fff;
 }

 .sub_titulo{
 	background-color: #DCDCDC;
 	border-radius:5px;
  padding: 10px;
 }
 .titulo{
display: inline-block;
 
background-color: #fff;
border-radius: 10px;
 }
 .titulo h2{
 	margin: 20px;
 }

 .menu_mobile{
 	display: none;
 	padding-top: 10px;
 	padding-left: 10px;
 }

 .img_logo{
display: block;
margin-left: 0;
 }

  .menu_mobile_float{
 	display: none;
 	background-color: #000;
 	width: 50%;
 	overflow-y: scroll;
 	height: 300px;
 	position: absolute;
 	border-radius: 10px;
 	padding-left: 10px;
 	


 }

.menu_mobile_float p{
 	background-color: #fff;
 	margin: 10px;
 	padding: 10px;
 	border-radius: 5px;
 }



 .rodape{
 	justify-content: center;
 	background-color: #000;
 	border-top: 1px solid #fff; 
 	 
 	 text-align: center;
   margin: auto;
    max-width: 1200px;
}
 }
 .rodape img{
    
    margin: 10px;


 }

 




 @media Only screen AND (max-width:780px){

.banner_menu{
	  
	 position: absolute;
	 right: 0;

}

 .banner_video{
  
  width: 100%;

 	}
 	.banner{
	display: flex;
	justify-content: center;

}
 
 .banner img{
 		height: 30px;
 }



.topo_menu{
	display: none;
}



 .menu_mobile{
 	display: block;
 }

 .menu_mobile_float{
 	display: none;
 	background-color: #000;
 	width: 50%;
 	overflow-y: scroll;
 	height: 300px;
 	position: absolute;
 	border-radius: 10px;
 	padding-left: 10px;
 	

 }

 .menu_mobile_float p{
 	background-color: #fff;
 	margin: 10px;
 	padding: 10px;
 	border-radius: 5px;
 }

.img_logo{

  margin-left: 51%;
   display: block;
    text-align: center;


}

.img_logo img{
  border: 2px solid #fff;
  border-radius: 50px;

}

.banner_video{
  margin-top: 18%;

}


.banner_video iframe{
       
      height: 300px;
       border-radius: 10px;
 }

 .banner img{
  width: 50px;
}

.banner_none{
  display: none;
}


 .banner_menu p{
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  transition: 0.5s;
   }


 }


 